# Model weights
checkpoints/
*.pt
*.pth
*.ckpt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
llava_data/train2017/
*.jpg
*.jpeg
*.png
*.zip

# Logs
*.log
logs.txt

# Mac
.DS_Store